demo-backend
build
**/__pycache__/
private_key.pem
public_key.pem
principal.env
templates
launch

.terraform.lock.hcl
.terraform/
plan.out
terraform.tfstate
terraform.tfstate.backup
**/plugin-cache

demo/frontend/package-lock.json.bak