<div id="load_tmp" class="load">
  <table>
    <tr><th></th><th>Status</th></tr>
    <tr><th>dialogflow_restricted</th><th>{{dialogflow_restricted}}</th></tr>
    <tr><th>cloudfunctions_restricted</th><th>{{cloudfunctions_restricted}}</th></tr>
    <tr><th>service_directory_webhook_fulfillment</th><th>{{service_directory_webhook_fulfillment}}</th></tr>
    <tr><th>webhook_ingress_internal_only</th><th>{{webhook_ingress_internal_only}}</th></tr>
    <tr><th>webhook_access_allow_unauthenticated</th><th>{{webhook_access_allow_unauthenticated}}</th></tr>
  </table>
</div>